   <div class="container row d-flex justifycontent-between">
    <% @upcoming_tasks.each do |task| %>
      <div class="card_tasks_up_index">
        <div class="card-a"><%= link_to task.done ? "Done" : "Not Done", progress_group_task_path(current_user.group_id, task.id), data: {turbo_method: :patch}, style:  "background-color: #{task.done ? "green" : "red"}" %></div>
        <div class="card-b"><%= task.name %></div>
        <div class="card-c"><%= task.deadline.strftime("%d.%m.%Y") %></div>
        <div class="card-d">
          <div class="current_user_index_avatar">
          <%= link_to group_tasks_path(current_user.group_id, :my_user => current_user.id)  do %>
          <% if current_user.photo.attached? %>
              <%= cl_image_tag current_user.photo.key, class: "avatar" %>
              <% else %>
              <h5>Placeholder</h5>
          <% end %>

           <% end %>
          </div>
        </div>
      </div>

    <% end %>

  </div>
