<div class="mt-5 mb-5" style="width: 100%; text-align:center">
  <h1 class="mb-3" style="color:#adadaf">Welcome at Pyst</h1>

      <div class="plus-wrapper">
        <h6 class="mb-3" style="color:#adadaf">Log in</h6>
          <%= link_to  new_user_session_path  do %>
            <i class="fa-solid fa-arrow-right-to-bracket fa-xl"></i>
          <% end %>
       </div>

      <div class="plus-wrapper">
        <h6 class="mb-3" style="color:#adadaf">Create an account</h6>
          <%= link_to  new_user_registration_path  do %>
            <i class="fa-solid fa-person-arrow-up-from-line fa-xl"></i>
          <% end %>
      </div>

    </div>

  </div>

  <%# <%= link_to "Edit profile", edit_user_registration_path %>
  <%# <%= link_to "Create a group", new_group_path %>
  <%# <%= link_to "Join a group", join_groups_path %>
  <%# <%= link_to "Edit profile", edit_user_registration_path %>

</div>
